$colors: (
	'white'				: #FFFFFF,
	'yellow'			: #FFB039,
	'yellow-2'			: #ffde4a,
	'black'				: #000000,
	'gray'				: #787878,
	'gray-2'			: #707070,
	'softgray'			: #fbfbfb,
	);

$images-size:(
	'xs' : 10px,
	'sm' : 20px,
	'md' : 30px,
	'lg' : 40px,
	'xl' : 50px,
	'xl-6' : 60px,
	'xl-7' : 70px,
	'xxl' : 80px,
	);

// Default Font Size
$base-font-size : 16px;

// Responsive Breakpoint
$br-xxs	: 375px;
$br-xx	: 425px;
$br-xs	: 480px;
$br-mm	: 512px;
$br-sm	: 576px;
$br-md	: 768px;
$br-lg	: 992px;
$br-xl	: 1140px;
$br-xxl	: 1200px;